<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>simpleARProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B618D6AE1E5DBC9D003AF69C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B618D6C71E5DBC9E003AF69C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B618D6D21E5DBC9E003AF69C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
